<h2>Learn, Cook, Eat Your Food</h2>
<div class="content">
   
    <ul>
        @if (categories) {
            <li routerLink="/category/all">All</li>


            @for (c of categories; track $index) {
                <li [routerLink]="['/category' , c.strCategory ]">{{c.strCategory}}</li>
            }
        }
       
    </ul>
</div>
<div class="groups">
    @if (meals) {
        @for (m of meals; track $index) {
            <div class="secipe group">
                <div class="imgs ">
                    <img [src]="m.strMealThumb" class="group-hover:rotate-[360deg] duration-700" alt="">
                </div>
              <h3>{{m.strMeal}}</h3>
              <h5>{{m.strArea}}</h5>
              <button type="button" [routerLink]="['/mealdetails', m.idMeal]">View Secipe</button>
            </div>
        }
       
    }
    
</div>



